.header
  .header-nav
    = image_tag 'https://upload.wikimedia.org/wikipedia/commons/8/8a/Toki_pona.svg', size: 30
    a.header-title
      | lipu pi toki pona!
  .header-nav
    a.header-link
      | lessons
    .header-sep
    a.header-link
      | dictionary
    .header-sep
    a.header-link
      | around the web
    .header-sep
    a.header-link
      | fun
  .header-fill
  .header-nav
    span.header-emoji
      | 🌙
    input type='range' id='page-brightness' name='page-brightness' min='0' max='4' value='4' step='1' style="flex: 0 0 auto; display: inline;"
    span.header-emoji
      | 🌞
